@model API.ViewModels.UserVM
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>

<head>
    <title>Forgot Password Page</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Spin Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    <link href="~/Content/Login/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/Login/css/style.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
</head>

<body>
    <h1>User Management</h1>
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="#" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Email </label>
                <input type="text" name="Email" placeholder="Enter Email" required="" />
                <span asp-validation-for="Email" class="alert-danger" style="color:white"></span>
            </div>
            <input type="submit" value="Send Password">
        </form>
    </div>
    <!-- //form ends here -->
    <!--copyright-->
    <div class="copy-wthree">
        <p style="font-size:20px">
            Click
            <a asp-controller="Users" asp-action="Login">Here</a>
            To Return to Login Page.
        </p>
    </div>
    <!--//copyright-->
</body>
</html>

